.content {
  background-color: #e2f7ff;
}

.first-header {
  background: url('https://i.ibb.co/Y3Pw7qs/wallpaperflare-com-wallpaper.jpg');
}

.first-header, .second-header, .third-header, .fourth-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 300px;
}
